<div class="text-helpers pull-right">
  <a class="remove-double-spaces" href="javascript:void(0)">- double spaces</a> |
  <a class="remove-line-breaks" href="javascript:void(0)">- line breaks</a>
</div>