// Breakpoints
$small-screen: 400px;
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: "Karla", sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$large-spacing: $base-line-height * 1.5em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$red: #d01111;
$green: #3ab559;
// Font Colors
$base-font-color: #000;
$action-color: #0076FF;
$link-color: $action-color;
$error-color: $red;
$success-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: none;
$form-box-shadow-focus: none;

// Animations
$base-duration: 0ms;
$base-timing: linear;

// Progress Bar
$nprogress-color: $action-color;
$nprogress-height: 3px;
$nprogress-zindex: 10100;
