body {
  padding:0 30px;
}

main {
  @include outer-container;
  padding-top:15px;
}

#source {
  display:none;
}

.show-iframe {
  main {
    width:50vw;
    padding-right:30px;
    padding-left:15px;
    float:left;
  }
  #source {
    display:block;
    width:50vw;
    height:100vh;
    position:fixed;
    right:0;
    border:none;
  }
}

#notice:not(:empty) {
  background:#000;
  padding:15px;
  color:#fff;
}

.hide {
  display:none;
}

.text-helpers {
  font-size:.85em;
}

#search-form {
  display:flex;
  padding-bottom:30px;
  .input-search {
    position:relative;
    flex-grow:1;
    padding-right:15px;
    input[type="text"] {
      font-size:1.75em;
      margin:0;
    }
    .clear-search {
      position:absolute;
      right:30px;
      font-size:3.5em;
      line-height:1em;
      color:$medium-gray;
      text-decoration:none;
    }
  }
}

article.recipe {
  header, footer, .description {
    @include span-columns(12);
    @include omega();
  }

  dl.meta {
    margin-bottom:15px;
    dt, dd {
      display:inline-block;
    }
    dt {margin-right:5px;}
    dd {margin-right:15px;}
  }

  .sticky-wrapper {
    @include span-columns(5);
  }

  section {
    > strong {
      display:block;
      margin-top:15px;
    }
  }

  .ingredients {
    width:100%;
    &.stuck {
      position:fixed;
      top:0;
      max-height:100vh;
      max-width:468px;
      overflow-y:auto;
    }
    ul {
      margin-right:15px;
      li {
        border-bottom:1px solid $light-gray;
        padding:15px 0;
        font-size:1em;;
        &:last-child {
          border-bottom:none;
        }
      }
    }
  }
  .instructions {
    @include span-columns(7);
    @include omega();
    li.step {
      font-size:1.25em;
      padding:15px 0 30px 0;
      min-height:33vh;

      &:last-child {
        min-height:100vh;
      }
      span {
        font-size:1.75em;
        font-weight:bold;
      }
    }
  }

  nav.pager {
    position:fixed;
    bottom:15px;
    right:15px;
    .btn {
      font-size:1em;
    }
  }

}

